---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/technology/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "{\"kind\": \"Listing\", \"data\": {\"modhash\": \"\", \"children\":
        [{\"kind\": \"t3\", \"data\": {\"domain\": \"gigaom.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"technology\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1y96o0\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"goodthingstolife\", \"media\": null, \"score\":
        2031, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"thumbnail\":
        \"\", \"subreddit_id\": \"t5_2qh16\", \"edited\": false, \"link_flair_css_class\":
        null, \"author_flair_css_class\": null, \"downs\": 1350, \"saved\": false,
        \"is_self\": false, \"permalink\": \"/r/technology/comments/1y96o0/seventh_grader_builds_a_braille_printer_with_350/\",
        \"name\": \"t3_1y96o0\", \"created\": 1392771993.0, \"url\": \"http://gigaom.com/2014/02/17/seventh-grader-builds-a-braille-printer-with-350-worth-of-legos/\",
        \"author_flair_text\": null, \"title\": \"Seventh grader builds a braille
        printer with $350 worth of Legos\", \"created_utc\": 1392743193.0, \"ups\":
        3381, \"num_comments\": 297, \"visited\": false, \"num_reports\": null, \"distinguished\":
        null}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"engadget.com\", \"banned_by\":
        null, \"media_embed\": {}, \"subreddit\": \"technology\", \"selftext_html\":
        null, \"selftext\": \"\", \"likes\": null, \"secure_media\": null, \"link_flair_text\":
        null, \"id\": \"1y9o8c\", \"secure_media_embed\": {}, \"clicked\": false,
        \"stickied\": false, \"author\": \"jbkly\", \"media\": null, \"score\": 654,
        \"approved_by\": null, \"over_18\": false, \"hidden\[...]
